.add-page-container {
    padding-top: 2vh; //container oldugu ucun yalniz topa tesir etmek ucun bele yazildi
    .add-page-label{
        color: #721686;
        font-size: 32px;
        font-weight: bolder;
    }

    .add-page-content{
        width: 100%;
        margin-top: 5vh;
    }    
    hr{
        color: #fff;
    }

    input[type="date"] {
        background-color: #d4b3ff; /* Change the background color */
        color: #030303; /* Change the text color */
        border: none;
        padding: 10px;
        border-radius: 4px;
        font-size: 16px;
    }

}