.swal2-modal{
    background-color: #000 !important;
    .swal2-html-container{
        color: #fff;
    }
    button{
        background-color: #292929 !important;
    }
}

.swal2-title{
    color: #d4b3ff;
}

.swal2-confirm {
    color: #d4b3ff;
}